@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
  --pink-color: rgba(242, 101, 139, 1);
  --dark-blue-color: rgba(0, 31, 38, 1);
  --turq-color-1: rgba(2, 94, 114, 1);
  --turq-color-2: rgba(2, 103, 114, 1);
  --turq-color-3: rgba(3, 165, 135, 1);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
  font-family: 'Raleway', sans-serif;
}

body{
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

#root{
  isolation: isolate;
}

button{
  all: unset;
}

button:hover{
  cursor: pointer;
}

input,
select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: .5rem;
}

textarea {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: .5rem;
  resize: vertical;
}

label {
  margin: 10px;
  font-weight: bold;
}